<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- External CSS -->
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body class="bg-zinc-900 text-white">

    <div class="min-h-screen p-10 text-white tracking-tighter">
        <a href="/" class="text-blue-600 inline-block mb-3">Go back to Home</a>
        <h1 class="text-4xl tracking-tighter" ><%= filename%></h1>
        <p class="text-xl mt-2"><%= filedata%></p>
    </div>
    <script src="/javascript/script.js"></script>
</body>

</html>