<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="bg-zinc-800 h-full w-full text-white p-4">
        <a href="/logout" class="bg-red-400 px-3 py-2 rounded-lg text-[12px]">Logout</a>
        <h3 class="text-3xl mt-5">
            👋 Hello , <%= user.name%>
        </h3>
        <h5 class="m-3">You can create a new post</h5>
        <form action="/post" method="post">
            <textarea placeholder="what's in your mind" class="resize-none bg-transparent outline-none border-2 border-zinc-600 rounded-md p-1" cols="40"  rows="5" name="content" id=""></textarea>
            <br>
            <input type="submit" 
            class="p-2 bg-blue-500 text-white rounded-lg mt-2" value="Create Post">
        </form>
        <div class="posts mt-20">
            <h3 class="text-2xl text-zinc-400 mb-2">Your Posts</h3>
            <div class="post-container">
            <% user.posts.reverse().forEach(function(post){%>
            <div class="post mt-4 w-1/3 border-2 p-3 border-zinc-600 rounded-lg bg-zinc-700">

                <h4 class="mb-2 text-blue-400">@<%=user.username%></h4>
                <p class="text-zinc-300"><%= post.content%></p>
                <div class="btn flex gap-4 mt-5">
                    <a href="" class="text-blue-500">Like</a>
                    <a href="" class="text-zinc-400">Edit</a>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</div>
</body>
</html>